*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f8f8f8;
    font-family: Arial, Helvetica, sans-serif;
}

 header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 8px;
}
 .info-text {
    font-size: 12px;
    color: #333;
    margin-bottom: 2px;
    text-align: center;
    color: #c2c2c2;
    font-weight: bold;
}

section form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin-top: 1rem;
}

.custom-button {
    display: flex;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #00AB99;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    gap: 8px;
}

.custom-button:hover {
    background-color: #009280;
}

/* Esconde o input de arquivo padrão */
#cameraInput {
    display: none;
}

    /* Estilização geral para inputs e selects */
        .form-group {
            margin: 4px 0;
            width: 100%;
        }

        .form-label {
            display: block;
            font-size: 12px;
            margin-bottom: 5px;
            color: #333;
        }

        .form-select {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f8f8f8;
            appearance: none; /* Remove a seta padrão do select */
            -webkit-appearance: none; /* Para Safari */
            -moz-appearance: none; /* Para Firefox */
            background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"%3E%3Cpath fill="%23007BFF" d="M7.05 8.95L10 11.9l2.95-2.95a.5.5 0 1 1 .7.7l-3.25 3.25a.5.5 0 0 1-.7 0L6.35 9.65a.5.5 0 0 1 .7-.7z"/%3E%3C/svg%3E');
            background-repeat: no-repeat;
            background-position: right 10px top 50%;
            background-size: 15px 15px;
        }

        .form-select:focus {
            outline: none;
            border-color: #007BFF;
        }

        /* Ajuste para remover seta padrão em alguns navegadores */
        select::-ms-expand {
            display: none;
        }

        /* Ajuste para o alinhamento do texto e seta */
        .select-container {
            position: relative;
        }

        .select-container::after {
            content: '\25BC';
            position: absolute;
            right: 10px;
            top: calc(50% - 8px);
            pointer-events: none;
            color: #00AB99;
        }
#form {
    padding: 0 16px;
}        

 .collapsible {
           width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f8f8f8;
            appearance: none; /* Remove a seta padrão do select */
            -webkit-appearance: none; /* Para Safari */
            -moz-appearance: none; /* Para Firefox */
            background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"%3E%3Cpath fill="%23007BFF" d="M7.05 8.95L10 11.9l2.95-2.95a.5.5 0 1 1 .7.7l-3.25 3.25a.5.5 0 0 1-.7 0L6.35 9.65a.5.5 0 0 1 .7-.7z"/%3E%3C/svg%3E');
            background-repeat: no-repeat;
            background-position: right 10px top 50%;
            background-size: 15px 15px;
        }
        .content {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #f8f8f8;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-top: 10px;
            width: 100%;
        }

        .form-group {
            margin: 10px 0;
        }

        .form-label {
            display: block;
            font-size: 14px;
            margin-bottom: 5px;
            color: #333;
        }

        .form-input {
            width: 100%;
            padding: 8px 2px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 5px;
            border: none;
            outline: 0;
            color: #9a9a9a;
        }
.row-group {
    display: flex;
    gap: 12px;
}
.w-50 {
        width: 50%;
    }
.w-100 {
    width: 100%;
}